body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

sub {
  margin-right: 2px;
}

ul {
  margin-top: 4px;
}

.text-timer {
  margin-top: 2px;
  margin-bottom: 6px;
  height: 28px;
}

.unit-label {
  margin-right: 8px;
  margin-left: 2px;
}

.text-result {
  margin-bottom: 6px;  
}

.btn-action {
  margin-top: 6px;
  width: 136px;
}

.push{
    transition: transform 0.5s;
    transform: translate(0px, 120px);
}

.recover{
  transition: transform 0.5s;
  transform: translate(0px, 0px);
}

#add-button {
  margin-left: 4px;  
}

#snackbar {
  min-width: 250px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #333;
  color: #fff; 
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 60px;
}

#debug-textarea {
  margin-top: 12px;
}

#label-for-debug {
  padding-top: 3px;
}
